In [7]:
import mysql.connector
import pandas as pd
import numpy as np

In [6]:
i_cols = ['movie_id', 'movie_title' ,
    "Action",
	"Adventure",
	"Animation",
	"Children_s",
	"Comedy",
	"Crime",
	"Documentary",
	"Drama",
	"Fantasy",
	"Film_Noir",
	"Horror",
	"Musical",
	"Mystery",
	"Romance",
	"Sci_Fi",
	"Thriller",
	"War",
	"Western"]

movies_columns_name = ['MovieID','Title','Genres']
movies_df = pd.read_csv('./data/ml-1m/movies.dat',sep="::", names=movies_columns_name, encoding='latin-1')
movies_df = pd.concat([movies_df.drop('Genres', axis=1), movies_df['Genres'].str.get_dummies(sep='|')], axis=1)
movies_df.columns = i_cols
movies_df.head()

/tmp/ipykernel_22603/2561405819.py:22: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies_df = pd.read_csv('./data/ml-1m/movies.dat',sep="::", names=movies_columns_name, encoding='latin-1')

,movie_id,movie_title,Action,Adventure,Animation,Children_s,Comedy,Crime,Documentary,Drama,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci_Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="recommendation"
)
mycursor = mydb.cursor()
print(mycursor)

CMySQLCursor: (Nothing executed yet)

In [12]:
def insertMovie(data):
    sql1 = "INSERT INTO items (movie_id, movie_title) VALUES (%s, %s)"
    val1 = (data['movie_id'], data['movie_title'])
    mycursor.execute(sql1, val1)
    types = ["Action", "Adventure", "Animation","Children_s","Comedy","Crime","Documentary","Drama","Fantasy","Film_Noir","Horror","Musical","Mystery","Romance","Sci_Fi","Thriller","War","Western"]
    sql2 = "INSERT INTO item_type (movie_id, movie_type) VALUES (%s, %s)"
    val2 = [(data['movie_id'], _type) for _type in types if data[_type]]
    mycursor.executemany(sql2, val2)

In [13]:
movies_df.apply(insertMovie,axis=1)

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'PRIMARY'